@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.rental-calendar .rdp-months {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.rental-calendar .rdp-month {
  flex: 1;
}

.product-list-banner {
  background: linear-gradient(
    360deg,
    rgb(138, 43, 226) 0%,
    rgb(76, 24, 124) 100%
  );
}

.product-list-banner-header {
  font-family: "Ubuntu", sans-serif;
  line-height: 3rem;
  letter-spacing: -0.025rem;
}
